* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
*,*::before,*::after{box-sizing: inherit;}
html{
  box-sizing: border-box;
}

/*scrollbar color*/
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

/*end of scrollbar*/

.upto_about {

  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(1, 4, 15, 0.863), rgba(0, 2, 10, 0.747)),
    url("../images/banner_image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  object-fit: contain;
  background-size: cover;
  position: relative;


}

/* nav bar toggle buttton style*/
/* Remove border from toggler */
.navbar-toggler {
  border: 0 !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 0 !important;
}

/* Lines of the Toggler */
.toggler-icon {
  width: 30px;
  height: 3px;
  background-color: #e74c3c;
  display: block;
  transition: all 0.2s;
}

/* Adds Space between the lines */
.middle-bar {
  margin: 5px auto;
}

/* State when navbar is opened (START) */
.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
  opacity: 0;
  filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}

/* State when navbar is opened (END) */

/* State when navbar is collapsed (START) */
.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}

/* State when navbar is collapsed (END) */

/* Color of Toggler when collapsed */
.navbar-toggler.collapsed .toggler-icon {
  background-color: #777777;
}


/*toggle button end*/

.header_flexbox {
  display: flex;
  min-height: 4rem;
  width: 100%;
  /*background-color: #f7f7f7;*/
  background-image: linear-gradient(rgba(45, 46, 48, 0.979), rgba(21, 23, 27, 0.829));
  position: fixed;
  z-index: 1000;
}

#logo_first_letter {
  font-size: 2.1rem;
  font-weight: bolder;
  color: rgb(247, 21, 21);
}

.logo_name {
  display: flex;
  justify-content: center;
  width: 60%;
  padding-top: 10px;
}

.nav_section {
  width: 40%;
  display: flex;
  justify-content: flex-end;


}

.logo_name h2 {
  text-align: center;
  color: white;
}

.nav-link {
  color: rgb(248, 245, 245);
  font-size: 1rem;
  font-weight: bold;

}

.nav-item {
  padding-right: 25px;
}

.nav-link::after {
  content: '';
  width: 0;
  height: 2px;
  background: #f8f8fa;
  display: block;
  margin: auto;

}

.nav-link:hover::after {
  width: 100%;

}

.nav-link:hover {

  color: rgb(255, 0, 13);
}


/*banner section codes*/


.bannersection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding-top: 150px;
  padding-left: 40px;
  padding-right: 40px;
  height: 100vh;
}

.banner_button {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.banner_button button {
  background-color: #ee0606;
  /* Green */
  border: none;
  color: white;
  padding: 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 40px 4px;
  cursor: pointer;
}

.buttonstyle {
  border-radius: 30px;
}

#banner_text::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background: #ee0606;
}

#our_prjbtn_style2 {
  background: #f8f8fa;
  color: #ee0606;
}

#our_prjbtn_style2:hover {
  background-color: #ee0606;
  color: #f8f8fa;
}

#our_prjbtn_style1:hover {
  background-color: #f8f8fa;
  color: #ee0606;
}



/* end of banner section codes*/


/*About section codes*/

.about_section{
  margin-top: 30px;
  height: auto;
  background-color: white;
}

/*.about_row {
  background-color: #ffffff;
  height: 100vh;
  width: 100%;
}*/

#about_section1_heading{
  font-weight: bold;
  margin-bottom: 20px;

}

/*#about_section1_heading::after{
  content: '';
  display:block;
  width: 100%;
  height: 50px;
  color: #f80303;
 
}*/
#hr_style1 {width: 15%; margin-left: auto;margin-right: auto; color: darkorange;height: 2px;margin-top: 0;margin-bottom: 0;}
#hr_style2 {width: 20%;margin-left: auto;margin-right: auto; margin-top: 0;color:darkorange; height: 3px;margin-top: 5px;margin-bottom: 20px;}







.about_flexbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about_section1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

/*.about_section2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.about_section2_text {
  display: flex;
  flex-direction: column;
  
}

.about_section2_picture {
  height: 50vh;
  background-image: url("../images/banner_image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  object-fit: contain;
  background-size: cover;
  margin-bottom: 50px;

}

.about_section2_text h3{
  text-align: center;
}


.about_section2 .container-fluid .raw{
  display: flex;
}
*/
.about_section2_picture{

float: left;


}
.icon{
  text-align: center;
}
.title{
  text-align: center;
  
}

.testt3{
  padding-left: 60px;
  padding-right: 60px;
}
 .title a{
  color: #000000;
}

/*end of About section codes*/

/*begining of service section*/

.service_section{
  height: 100vh;
  width: 100%;
  background-color: #777777;
  padding-top: 50px;
}

.service_section h2{
  font-weight: bold;
  text-align: center;

}


/*end of service section*/